.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./images/background.png');
}

header {
  font-size: 35px;
}

h2 {
  font-size: 35px;
  text-align: center;
}

.main {
  align-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.missions {
  align-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.12);
  display: flex;
  flex-direction: column;
  width: 65%;
}

.cards {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.missionCards {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 5px;
  width: 400px;
}

.subCard {
  align-content: space-around;
  border-top: 1px solid white;
  display: flex;
}

.planetCards {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.planetas {
  align-content: center;
  align-items: center;
  display: flex;
}

.sistema {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sizePlanet {
  height: 70%;
  width: 70%;
}
